{% extends 'base.html' %}
{% load bootstrap3 %}

<div class="container">
{% block title %}
<br><br><br><br><br>
<h2>Register</h2>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-block">

<form method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form layout='inline' %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "user" %} Register
    </button>
    {% endbuttons %}
</form>
{% endblock %}
</div>
</div>
</div>

