<!DOCTYPE html>
<html lang="en">
<head>

{% block title %}<title>Services Locator, Online directory for difference businesses</title>{% endblock %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://mdbootstrap.com/live/_MDB/css/bootstrap.min.css">
<link rel="stylesheet" href="https://mdbootstrap.com/live/_MDB/css/mdb.min.css">

  <!-- Add additional CSS in static file -->
  {% load static %}
</head>
<body>

{% block jumbotron %}
{% endblock %}

<div class="container">
{% block navbar %}

    <!-- Font Awesome -->

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">

    <style>
        @media print {
            #ghostery-purple-box {
                display: none !important
            }
        }

.vertical2 {
 height: 1307px;
 width: 0px;
 border-left: 1px solid #DCDCDC;
 padding: 10px;
 min-height: 1px; 
}


#pro{
    border-radius: 30px;
    margin: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 4px 4px 8px cyan;
}

#pro:hover{
    box-shadow: 8px 8px 16px cyan;

}
    </style>
</head>

<body class="fixed-sn mdb-skin" cz-shortcut-listen="true">
<!--Double navigation-->
<header>
        <!-- Sidebar navigation -->
        <ul id="slide-out" class="side-nav fixed custom-scrollbar ps-container ps-theme-default" data-ps-id="a22c5960-b68d-555d-3a1f-dab73b519103" style="transform: translateX(-100%);">

            <!-- Logo -->
            <li>
                <div class="logo-wrapper waves-light waves-effect waves-light">

                </div>
            </li>
            <!--/. Logo -->

            <!--Social-->
            <li>
                <ul class="social">
                    <li><a href="https://www.facebook.com/mdbootstrap" target="_blank" class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a></li>
                    <li><a class="icons-sm git-ic"><i class="fa fa-github"> </i></a></li>
                    <li><a href="https://www.linkedin.com/in/dawid-adach-97435534/pl" target="_blank" class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a></li>
                    <li><a class="icons-sm yt-ic"><i class="fa fa-youtube"> </i></a></li>
                    <li><a href="https://plus.google.com/u/0/+Mdbootstrap" target="_blank" class="icons-sm gplus-ic"><i class="fa fa-google-plus"> </i></a></li>
                </ul>
            </li>
            <!--/Social-->

            <!--Search Form-->
            <li>
                <form class="search-form" role="search">
                    <div class="form-group waves-light waves-effect waves-light">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                </form>
            </li>
            <!--/.Search Form-->

            <!-- Side navigation links -->
            <li>
                <ul class="collapsible collapsible-accordion">
                    <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-heart"></i> New Arrivals<i class="fa fa-angle-down rotate-icon"></i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="#" class="waves-effect">Handbags</a>
                                </li>
                                <li><a href="#" class="waves-effect">Shoes</a>
                                </li>
                                <li><a href="#" class="waves-effect">Dresses</a>
                                </li>
                                <li><a href="#" class="waves-effect">Skirts</a>
                                </li>
                                <li><a href="#" class="waves-effect">Jeans</a>
                                </li>
                                <li><a href="#" class="waves-effect">Outerwear</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-diamond"></i> Accessories<i class="fa fa-angle-down rotate-icon"></i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="#" class="waves-effect">Jewelry</a>
                                </li>
                                <li><a href="#" class="waves-effect">Wallets &amp; Purses</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-gitlab"></i> For kids<i class="fa fa-angle-down rotate-icon"></i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="#" class="waves-effect">Girls</a>
                                </li>
                                <li><a href="#" class="waves-effect">Boys</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-sun-o"></i> Summer<i class="fa fa-angle-down rotate-icon"></i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="#" class="waves-effect">Swimsuits</a>
                                </li>
                                <li><a href="#" class="waves-effect">Sandals</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-briefcase"></i> Fall / Winter<i class="fa fa-angle-down rotate-icon"></i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="#" class="waves-effect">Coats</a>
                                </li>
                                <li><a href="#" class="waves-effect">Boots</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-coffee "></i> Spring<i class="fa fa-angle-down rotate-icon"></i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="#" class="waves-effect">Denim jackets</a>
                                </li>
                                <li><a href="#" class="waves-effect">Sneakers</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <!--/. Side navigation links -->

            <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
            </div>
            <div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px;">
                <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
            </div>
        </ul>
        <!--/. Sidebar navigation -->

        <!--Navbar-->
        <nav class="navbar navbar-fixed-top scrolling-navbar double-nav">

            <!-- SideNav slide-out button 
            <div class="float-xs-left">
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
            </div>
            -->

            <!-- Breadcrumb-->
            <div class="breadcrumb-dn">
                <a href="{% url 'home' %}"><h3>&nbsp;Services-Locator</h3> </a>
            </div>
            <ul class="nav navbar-nav float-xs-right">
                <li class="nav-item ">
                    <a class="nav-link waves-effect waves-light" href="{% url 'books' %}"><i class="fa fa-bars"></i> <span class="hidden-sm-down">All Services</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link waves-effect waves-light" href="{% url 'books' %}"><i class="fa fa-envelope"></i> <span class="hidden-sm-down">Contact</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link waves-effect waves-light" href="{% url 'books' %}"><i class="fa fa-comments-o"></i> <span class="hidden-sm-down">Support</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link waves-effect waves-light" href="/accounts/register"><i class="fa fa-sign-in"></i> <span class="hidden-sm-down">Register</span></a>
                </li>

                
                <li class="nav-item ">
                {% if user.is_authenticated %}
                    <a class="nav-link waves-effect waves-light" href="{% url 'books' %}"><i class="fa fa-sign-in"></i> <span class="hidden-sm-down">{{ user.get_username }}</span></a>
                {% endif %}
                </li>

                <!--
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-light" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> <span class="hidden-sm-down">Profile</span></a>
                    <div class="dropdown-menu dropdown-primary dd-right" aria-labelledby="dropdownMenu1" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                        <a class="dropdown-item waves-effect waves-light" href="#">Logout</a>
                        <a class="dropdown-item waves-effect waves-light" href="#">My account</a>
                    </div>
                </li>
                -->
            </ul>

        </nav>
        <!--/.Navbar-->
    </header>
{% endblock %}

</div>
<br><br>
<br><br>


<div class="container-fluid">
<div class="row">
<div class="col-sm-3">
  {% block sidebar %}
  <!--
  <ul class="sidebar-nav">
    <li><h5>{{ book.author }}</h5> </li>
    <li><h5><a>All</a></h5></li>
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'books' %}">All Services</a></li>
    <li><a href="{% url 'authors' %}">All businesses</a></li>
  </ul>
-->

<div class="panel panel-default">
 <div class="panel-heading">
 <h2 class="panel-title">
 <h5><b>{{ book.author }} </b></h5>
 </h2>
 </div>
 <div class="panel-body">
   <ul class="sidebar-nav">
    <li><b>Location:</b> {{ book.language }}</li>
    <li><b>Working Hours: </b>{{ book.isbn }} </li>
    <li><b>Phone Number:</b> {{ book.phone_number }}</li>
    <li><b>Email: </b>{{ book.email }}</li>
    <p><strong>Type:</strong> {% for genre in book.genre.all %}{{genre}}{% if not forloop.last %}, {% endif %}{% endfor %}</p>  
  </ul>
 </div>
</div>


<div class="panel panel-default">
 <div class="panel-heading">
 <h2 class="panel-title">
 <h5><b>Rate Us</b></h5>
 </h2>
 </div>
 <div class="panel-body">
<!--Naked Form-->
<div class="card-block">
    <!--Body-->
    <select class="custom-select">
  <option selected>How are we serving you?</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
</select><br>

<div class="md-form">

    <textarea type="text" id="form8" class="md-textarea"></textarea>
    <label for="form8">Comment</label>
</div>
<div class="text-center">
    <button class="btn btn-default">Submit</button>
</div>

</div>
<!--Naked Form-->
 </div>
</div>



<div class="panel panel-default">
 <div class="panel-heading">
 <h2 class="panel-title">
 <h5><b>Tell your friends about us </b></h5>
 </h2>
 </div>
 <div class="panel-body">
   <ul class="sidebar-nav">
<!--Facebook-->
<a type="button" class="btn-floating btn-large btn-fb"><i class="fa fa-facebook"></i></a>
<!--Twitter-->
<a type="button" class="btn-floating btn-large btn-tw"><i class="fa fa-twitter"></i></a>
<!--Google +-->
<a type="button" class="btn-floating btn-large btn-gplus"><i class="fa fa-google-plus"></i></a>
<!--Linkedin-->
<a type="button" class="btn-floating btn-large btn-li"><i class="fa fa-linkedin"></i></a>
<!--Instagram-->
<a type="button" class="btn-floating btn-large btn-ins"><i class="fa fa-instagram"></i></a>
<!--Pinterest-->
<a type="button" class="btn-floating btn-large btn-pin"><i class="fa fa-pinterest"></i></a>
  </ul>
 </div>
</div>
<!--
  <ul class="sidebar-nav">
    <li><h5><b>Categories</b></h5></li>
    <li><a href="{% url 'index' %}">Computer</a></li>
    <li><a href="{% url 'books' %}">Telephones</a></li>
    <li><a href="{% url 'books' %}">Website Development</a></li>
    <li><a href="{% url 'books' %}">Accessories</a></li>
    <li><a href="{% url 'books' %}">Home tools</a></li>
    <li><a href="{% url 'authors' %}">Health Care</a></li>


    <li><a href="{% url 'genre' %}">Types</a></li>
  </ul>
 
  <ul class="sidebar-nav">
   {% if user.is_authenticated %}
     <li>User: {{ user.get_username }}</li>
     <li><a href="{% url 'my-borrowed' %}">My Borrowed</a></li>
     <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
   {% else %}
     <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
   {% endif %} 
  </ul>


  <ul class="sidebar-nav">
     <li><h5><b>Businesses</b></h5></li>
     <li><a href="#">Telecommunication, ltd</a></li>
     <li><a href="#">Lanunching Next Limited</a></li>   
     <li><a href="#">Dreamers Limited</a></li>   
     <li><a href="#">Social Workers Limited</a></li>  
     <li><a href="#">Hamwe Cleaning Limited</a></li>  
  </ul>


  <ul class="sidebar-nav">
     <li><h5><b>Locations</b></h5></li>
     <li><a href="#">Kigali City Tower</a></li>
     <li><a href="#">Kigali Convential Center</a></li>   
     <li><a href="#">Kigali Height</a></li>   
     <li><a href="#">Kigali Market</a></li>  
     <li><a href="#">Makuza Peace Plaza</a></li> 
     <li><a href="#">Telecom House</a></li>
     <li><a href="#">CHICK</a></li>   
  </ul>




   {% if user.is_staff %}
   <hr />
   <ul class="sidebar-nav">
   <li>Staff</li>
   {% if perms.catalog.can_mark_returned %}
   <li><a href="{% url 'all-borrowed' %}">All borrowed</a></li>
   {% endif %}
   </ul>
    {% endif %}
-->
{% endblock %}
  </div>


  <div class="col-sm-9">
  {% block content %}{% endblock %}
  {% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
  {% endblock %} 
  
  
  </div>
</div>
</div>
<div class="container">
{% block related %}
{% endblock %}
</div>
{% block footer %}
    <!--Footer-->
    <footer class="page-footer center-on-small-only">
        <!--Footer Links-->
        <div class="container-fluid">
            <div class="row">
                <!--First column-->
                <div class="col-lg-2 offset-lg-1">
                    <h5 class="title social-section-title">Social Media</h5>
                    <!-- Social Links -->
                    <div class="social-section text-md-left">
                        <ul class="text-xs-center">
                            <!-- Facebook -->
                            <li><a class="btn-floating btn-small btn-fb waves-effect waves-light"><i class="fa fa-facebook"></i></a></li>
                            <!-- Instagram -->
                            <li><a class="btn-floating btn-small btn-ins waves-effect waves-light"><i class="fa fa-instagram"></i></a></li>
                            <!-- Twitter -->
                            <li><a class="btn-floating btn-small btn-tw waves-effect waves-light"><i class="fa fa-twitter"></i></a></li>
                            <!--Youtube-->
                            <li><a class="btn-floating btn-small btn-yt waves-effect waves-light"><i class="fa fa-youtube"></i></a></li>
                            <!--Linkedin-->
                            <li><a class="btn-floating btn-small btn-li waves-effect waves-light"><i class="fa fa-linkedin"></i></a></li>
                            <!-- Dribble -->
                            <li><a class="btn-floating btn-small btn-dribbble waves-effect waves-light"><i class="fa fa-dribbble left"></i></a></li>
                            <!-- Pinterest -->
                            <li><a class="btn-floating btn-small btn-pin waves-effect waves-light"><i class="fa fa-pinterest"></i></a></li>
                            <!-- Google+ -->
                            <li><a class="btn-floating btn-small btn-gplus waves-effect waves-light"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                    <!-- /.Social Links -->
                </div>
                <!--/.First column-->
                <!--Second column-->
                <div class="col-lg-2">
                    <h5 class="title">Delivery</h5>
                    <ul>
                        <li><a href="#">Store Delivery</a></li>
                        <li><a href="#">Online Delivery</a></li>
                        <li><a href="#">Delivery Terms &amp; Conditions</a></li>
                        <li><a href="#">Tracking</a></li>
                    </ul>
                </div>
                <!--/.Second column-->
                <!--Third column-->
                <div class="col-lg-2">
                    <h5 class="title">Need help?</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Return Policy</a></li>
                        <li><a href="#">Product Registration</a></li>
                    </ul>
                </div>
                <!--/.Third column-->

                <!-- Fourth column -->
                <div class="col-lg-4">
                    <h5 class="title">Instagram Photos</h5>
                    <!--
                    <ul class="instagram-photos">
                        <li>
                            <div class="view overlay hm-white-slight">
                                <img class="img-fluid" src="http://mdbootstrap.com/images/avatars/img%20(5).jpg" alt="Instagram photo cap">
                                <a href="#">
                                    <div class="mask"></div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="view overlay hm-white-slight">
                                <img class="img-fluid" src="http://mdbootstrap.com/images/avatars/img%20(10).jpg" alt="Instagram photo cap">
                                <a href="#">
                                    <div class="mask"></div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="view overlay hm-white-slight">
                                <img class="img-fluid" src="http://mdbootstrap.com/images/avatars/img%20(6).jpg" alt="Instagram photo cap">
                                <a href="#">
                                    <div class="mask"></div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="view overlay hm-white-slight">
                                <img class="img-fluid" src="http://mdbootstrap.com/images/avatars/img%20(3).jpg" alt="Instagram photo cap">
                                <a href="#">
                                    <div class="mask"></div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="view overlay hm-white-slight">
                                <img class="img-fluid" src="http://mdbootstrap.com/images/avatars/img%20(1).jpg" alt="Instagram photo cap">
                                <a href="#">
                                    <div class="mask"></div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="view overlay hm-white-slight">
                                <img class="img-fluid" src="http://mdbootstrap.com/images/avatars/img%20(2).jpg" alt="Instagram photo cap">
                                <a href="#">
                                    <div class="mask"></div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="view overlay hm-white-slight">
                                <img class="img-fluid" src="http://mdbootstrap.com/images/avatars/img%20(9).jpg" alt="Instagram photo cap">
                                <a href="#">
                                    <div class="mask"></div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="view overlay hm-white-slight">
                                <img class="img-fluid" src="http://mdbootstrap.com/images/avatars/img%20(7).jpg" alt="Instagram photo cap">
                                <a href="#">
                                    <div class="mask"></div>
                                </a>
                            </div>
                        </li>
                    </ul>
                    -->
                </div>
                <!-- /.Fourth column -->
            </div>
        </div>
        <!--/.Footer Links-->
        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
               <p> © 2016 Copyright: <a href="#"> Serviceslocator.com </a> </p>
            </div>
        </div>
        <!--/.Copyright-->
    </footer>
    <!--/.Footer-->
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="https://mdbootstrap.com/live/_MDB/js/jquery-3.1.1.min.js"></script>
    <!-- Tooltips -->
    <script type="text/javascript" src="https://mdbootstrap.com/live/_MDB/js/tether.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://mdbootstrap.com/live/_MDB/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://mdbootstrap.com/live/_MDB/js/mdb.min.js"></script>
    <script>
        // SideNav init
        $(".button-collapse").sideNav();
        var el = document.querySelector('.custom-scrollbar');
        Ps.initialize(el);
    </script>
    <script>
        new WOW().init();
    </script>
    <div class="hiddendiv common"></div>
    <div class="drag-target" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); left: 0px;"></div>
</body>
</html>
{% endblock %}
</body>
</html>
