<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %}<title>Services Locator</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<div class="container">
{% block navbar %}

<nav class="navbar navbar-findcond navbar-fixed-top navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">ServiceLocator</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
        <!--
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-bell-o"></i> Bildirimler <span class="bage">0</span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><i class="fa fa-fw fa-tag"></i> <span class="badge">Music</span> sayfası <span class="badge">Video</span> sayfasında etiketlendi</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-thumbs-o-up"></i> <span class="badge">Game</span> sayfasında iletiniz beğenildi</a></li>
                    </ul>
                </li>

                <li class="active"><a href="#">Ana Sayfa <span class="sr-only">(current)</span></a></li>
                 -->
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'index' %}">All Services</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">More <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Register business</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Sign Up</a></li>
                        <li><a href="#exit">Login</a></li>
                    </ul>
                </li>
            </ul>

            <form class="navbar-form navbar-right search-form" role="search">
                <input type="text" class="form-control" placeholder="Search" />
            </form>
        </div>
    </div>
</nav>
{% endblock %}
</div>
<br><br>
<br><br>


<div class="container-fluid">
<div class="row">
  <div class="col-sm-2">
  {% block sidebar %}
  <ul class="sidebar-nav">
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'books' %}">All Services</a></li>
    <li><a href="{% url 'authors' %}">All businesses</a></li>
  </ul>
  <ul class="sidebar-nav">
    <li><a href="{% url 'index' %}"><h4><b>Categories</b></h4></a></li>
    <li><a href="{% url 'index' %}">Computer</a></li>
    <li><a href="{% url 'books' %}">Telephones</a></li>
    <li><a href="{% url 'authors' %}">Health Care</a></li>

    <li><a href="{% url 'genre' %}">Types</a></li>
  </ul>
 
  <ul class="sidebar-nav">
   {% if user.is_authenticated %}
     <li>User: {{ user.get_username }}</li>
     <li><a href="{% url 'my-borrowed' %}">My Borrowed</a></li>
     <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
   {% else %}
     <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
   {% endif %} 
  </ul>
   {% if user.is_staff %}
   <hr />
   <ul class="sidebar-nav">
   <li>Staff</li>
   {% if perms.catalog.can_mark_returned %}
   <li><a href="{% url 'all-borrowed' %}">All borrowed</a></li>
   {% endif %}
   </ul>
    {% endif %}
{% endblock %}
  </div>
  <div class="col-sm-10 ">
  {% block content %}{% endblock %}
  {% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
  {% endblock %} 
  
  
  </div>
</div>

</div>
</body>
</html>
