{% extends "base_detail.html" %}
{% load staticfiles %}
{% block jumbotron %}
 <div class="jumbotron text-right" style="background-image: url('https://github.com/muhiza/muzika/blob/master/waka.PNG?raw=true'); padding-bottom: 10px;"><br><br>
 <h1 style="color: white;"><strong>Service:</strong> {{ book.title }}</h1>
 <p style="color: white;">This is an example for jumbotron.</p>
 <!-- <p><a class="btn btn-primary btn-lg" role="button"> 
 Learn more</a>
 -->
 </p>
 </div>

{% endblock %}
{% block content %}
<h4><strong>Business:</strong> <a href="{% url 'author-detail' book.author.pk %}">{{ book.author }}</a></h4> <p>{{ book.summary|slice:'300' }}</p> 
<hr>
<div class="row" id="pro"><br>
<div class="col-md-4">
<h5><b>Vision:</b></h5> <p>{{ book.vision|slice:'100' }}</p>
<!--
<p><b>Working Hours:</b> {{ book.isbn }}</p> 
<p><b>Location:</b> {{ book.language }}</p> 
-->
</div>
<div class="col-md-4">
<h5><b>Mission:</b></h5> <p>{{ book.mission|slice:'100' }}</p>
<!--
<p><b>Working Hours:</b> {{ book.isbn }}</p> 
<p><b>Location:</b> {{ book.language }}</p> 
-->
</div>
<div class="col-md-4">
<h5><b>Value:</b></h5> <p>{{ book.values|slice:'100' }}</p>
<!--
<p><b>Working Hours:</b> {{ book.isbn }}</p> 
<p><b>Location:</b> {{ book.language }}</p> 
-->
</div>
</div>

<!--
<p><strong>Profile:</strong> 
<img src="{% static "images/local_library_model_uml.png" %}" alt="My image" style="width:555px;height:540px;"/>
-->
</p> 



<div style="margin-left:20px;margin-top:20px">
<!--
<h4>Copies</h4>
-->
{% for copy in book.bookinstance_set.all %}
<hr>
<!--
<p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'd' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</p>
{% if copy.status != 'a' %}<p><strong>Due to be returned:</strong> {{copy.due_back}}</p>{% endif %}
<p><strong>Imprint:</strong> {{copy.imprint}}</p>
<p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>
-->
{% endfor %}




<!--Section: Features v.4-->
<section class="section feature-box">

    <!--Section heading-->
    <h1 class="section-heading">Why are we so great?</h1>
    <!--Section sescription-->
    <p class="section-description lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam. Quia, minima?</p>

    <!--First row-->
    <div class="row features-small">

        <!--First column-->
        <div class="col-md-4">
            <!--First row-->
            <div class="row">
                <div class="col-2">
                    <i class="fa fa-flag-checkered indigo-text"></i>
                </div>
                <div class="col-10">
                    <h4 class="feature-title">International</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                    <div style="height:30px"></div>
                </div>
            </div>
            <!--/First row-->

            <!--Second row-->
            <div class="row">
                <div class="col-2">
                    <i class="fa fa-flask blue-text"></i>
                </div>
                <div class="col-10">
                    <h4 class="feature-title">Experimental</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                    <div style="height:30px"></div>
                </div>
            </div>
            <!--/Second row-->

            <!--Third row-->
            <div class="row">
                <div class="col-2">
                    <i class="fa fa-glass cyan-text"></i>
                </div>
                <div class="col-10">
                    <h4 class="feature-title">Relaxing</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                    <div style="height:30px"></div>
                </div>
            </div>
            <!--/Third row-->
        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-md-4 mb-r center-on-small-only flex-center">
            <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/iphone3.jpg" alt="" class="z-depth-0">
        </div>
        <!--/Second column-->

        <!--Third column-->
        <div class="col-md-4">
            <!--First row-->
            <div class="row">
                <div class="col-2">
                    <i class="fa fa-heart red-text"></i>
                </div>
                <div class="col-10">
                    <h4 class="feature-title">Beloved</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                    <div style="height:30px"></div>
                </div>
            </div>
            <!--/First row-->

            <!--Second row-->
            <div class="row">
                <div class="col-2">
                    <i class="fa fa-flash orange-text"></i>
                </div>
                <div class="col-10">
                    <h4 class="feature-title">Rapid</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                    <div style="height:30px"></div>
                </div>
            </div>
            <!--/Second row-->

            <!--Third row-->
            <div class="row">
                <div class="col-2">
                    <i class="fa fa-magic lime-text"></i>
                </div>
                <div class="col-10">
                    <h4 class="feature-title">Magical</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                    <div style="height:30px"></div>
                </div>
            </div>
            <!--/Third row-->
        </div>
        <!--/Third column-->
    </div>
    <!--/First row-->
</section>
<!--/Section: Features v.4-->
</div>
{% endblock %}

{% block related %}
<!--Projects section v.2-->
<section class="section">

    <!--Section heading-->
    <h1 class="section-heading">Related Services</h1>
    <!--Section description-->
    <div class="row text-center">

        <!--First column-->
        <div class="col-lg-4 col-md-12 mb-r">

            <!--Featured image-->
            <div class="view overlay hm-white-slight z-depth-2">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(86).jpg">
                <a>
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>

            <!--Excerpt-->
            <div class="card-block">
                <a href="" class="purple-text"><h5><i class="fa fa-coffee"></i> Lifestyle</h5></a>
                <h3>Best donuts in Radson</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque.</p>
                <a class="btn btn-ins"><i class="fa fa-clone left"></i> View business</a>
            </div>

        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-lg-4 col-md-6 mb-r">

            <!--Featured image-->
            <div class="view overlay hm-white-slight z-depth-2">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(29).jpg">
                <a>
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>

            <!--Excerpt-->
            <div class="card-block">
                <a href="" class="orange-text"><h5><i class="fa fa-money"></i> Business</h5></a>
                <h3>My restaurant in Kakiru</h3>
                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime facere possimus.</p>
                <a class="btn btn-ins"><i class="fa fa-clone left"></i> View business</a>
            </div>

        </div>
        <!--/Second column-->

        <!--Third column-->
        <div class="col-lg-4 col-md-6 mb-r">

            <!--Featured image-->
            <div class="view overlay hm-white-slight z-depth-2">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(32).jpg">
                <a>
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>

            <!--Excerpt-->
            <div class="card-block">
                <a href="" class="indigo-text"><h5><i class="fa fa-plane"></i> Travels</h5></a>
                <h3>How to work remotely?</h3>
                <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae.</p>
                <a class="btn btn-ins"><i class="fa fa-clone left"></i> View business</a>
            </div>

        </div>
        <!--/Third column-->
    </div>
    <!--/First row-->
</section>
<!--/Projects section v.2-->
{% endblock %}